:root {
    --primary-color: #2196f3;
    --secondary-color: #212121;
    --contacts-color: #757575;
    --title-color: #ffffff;
    --logo-color: #000000;
    --background-color: #f5f4fa;
    --footer-color: #2f303a;
    --adress-color: rgba(255, 255, 255, 0.6);
    --portfolio-background: #eeeeee;
    --butonn-hover: #188ce8;
    --becground-button: #f5f4fa;
    --border-color: #ECECEC;
    --icon-color: #AFB1B8;
  }
  html{
    box-sizing: border-box;
  }
  *,*::before,::after{
    box-sizing: inherit;
  }
  
  body {
    background-color:var(--title-color);
    font-family: "Roboto", sans-serif;
    color: var(--secondary-color);
  }
  .list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  /* header */
  .container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-flex{
    display: flex;
  }
  .header-auto{
    display: flex;
    margin-left: auto;
  }
  .main-container{
    display: flex;
    align-items: center;
   }
  
  .flex-li:not(:last-child){
    margin-right: 50px;
  }
  .header-logo {
  margin-right: 93px;
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-color);
  }
  .footer-logo {
    display: inline-block;
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--title-color);
  }
  .header-web {
    color: var(--primary-color);
    }
  
  .header-contacts,
  .header-text{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-text {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
  }
  
  .header-text::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #188ce8;
    opacity: 0;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header-text.curent::after{
    opacity: 1;
  }
  
  
  .header-text.curent {
    color: var(--primary-color);
  }
  .link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover,
  .link:focus {
   
    color: var(--primary-color);
  }
  .link:active {
    color: var(--primary-color);
  }
  .link:is(:hover,:focus) .svg-icon-header {
    fill: var(--primary-color);
  }
  .header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--contacts-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* svg decoration */
  .svg-icon-header{
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  /* hero section */
  .hero-section {
   padding-top: 200px;
   padding-bottom: 200px;
   max-width: 1600px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   outline: 1px solid black;
   background-image: linear-gradient(to right , 
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
   ),url(../img/centerphoto.jpg);
   background-color: #C4C4C4;
   background-position: center;
   background-size: cover;
  }
  .hero_picture{
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    
    }
  .hero-title {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
  }
  .hero-button {
    text-align: center;
    min-width: 213px;
    padding: 10px 32px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--title-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:focus,
  .hero-button:hover {
    background-color: var(--butonn-hover);
    cursor:pointer;
    list-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .bakdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .bakdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 41px 39px 31px 39px;
  
    min-width: 528px;
    min-height: 581px;
  
    background: var(--title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .butonn-model{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .butonn-model:hover .button-close{
    fill: var(--primary-color);
  }
  
  .button-close{
    width: 18px;
    height: 18px;
  }
  
  .svg-model-form{
    width: 18px;
    height: 18px;
  }
  .form-model-main{
    display: block;
  }
  .li-form-field{
    display: block;
    margin-bottom: 10px;
  
  }
  .lebel-modal{
    display: block;
    text-align: left;
    width: 448px;
   
  }
  .lebel-modal-coment{
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    width: 448px;
  }
  
  .texteria{
    
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  textarea{
    resize: none;
    display: block;
  }
  textarea::placeholder{
    
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
  }
  .text-modal-div{
  margin-top: 0;
  margin-bottom: 14px;
   
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  }
  .name-modal{
  
  transform: translateY(-10px);
  margin-bottom: 4px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  }
  .display-form{
    display: block;
    position: relative;
  }
  .svg-model-form{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .lebel-modal:focus-within .svg-model-form{
    fill: var(--primary-color);
  }
  
  .input-modal:focus-visible {
   outline-color: var(--primary-color);
  }
  .texteria:focus-visible {
    outline-color: var(--primary-color);
   }
  .input-modal{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 40px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .checkbox-text{
  color: var(--contacts-color);
  
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  }
  
  .link-checkbox{
  
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-left: 5px;
  color: var(--primary-color);
  }
  .icon-checkbox{
    height: 15px;
    width: 16px;
    
    border-radius: 2px;
    border: 2px solid var(--secondary-color);
    margin-right: 10px;
    position: relative;
  
  }
  
  .outline{
    display: flex;
    align-items: center;
  }
  
  .checkbox-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    position: absolute;
  }
  .checkbox-input:checked +.icon-checkbox{
    background-color: var(--primary-color);
   background-image: url('../img/check.svg');
   background-position: center;
   background-origin: border-box;
   border-color: var(--primary-color);
   background-repeat: no-repeat;
  }
  .button-form{
  margin-top: 30px;
  min-width: 200px;
  padding: 10px 52px;
   height: 50px;
  background-color: var(--primary-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
   border: none;
   font-size: 16px;
  line-height: 30px;
  
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: background-color box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-form:hover,
  .button-form:focus{
   background-color: var(--butonn-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  }
  
  /* benefist-section */
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .benefist-li{
    width: 270px;
  }
  .benefist-li-ko{
    width: 370px;
  }
  .benefist-li-ko:not(:last-child){
    margin-right: 30px;
  }
  
  .benefist-li:not(:last-child){
    margin-right: 30px;
  }
  
  .benefist-flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    }
  
  .benefist-title {
    margin-bottom: 10px;
    margin-top: 30px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
  .benefist-bottom{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefist-text {
    margin-top: 0px;
    margin-bottom: 0px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
  }
  
  .benefist-clock{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--becground-button);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  }
  .benefist-icon{
    width: 70px;
    height: 70px;
  }
  /* employment section */
  .employment-top{
      padding-bottom: 94px;
  }
  .employment-section {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
  /* team section */
  .team-section {
    background-color: var(--background-color);
      padding-bottom: 94px;
      padding-top: 94px;
  }
  .team-title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
  .team-list {
    background-color: var(--title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);;
  }
  .team-div{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team-name {
    margin-top: 0;
    margin-bottom: 0;
  
      font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
  .team-job {
    margin-top: 10px;
    margin-bottom: 0px;
  
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
  }
  
  .team-imges-icon{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    }
  .team-job-icon{
    width: 44px;
    height: 44px;
    fill: #ffffff;
    border-radius: 50%;
    
  }
  .link-insta{
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-link-job:is(:hover, :focus) .link-insta{
    fill: var(--title-color);
  }
   
  .team-link-job{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  .team-link-job:hover {
    background-color: var(--primary-color);
  } 
  
  .our-client{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
  }
  .client-border{
    width: calc((100%-150px)/6);  
    height: 92px;
  }
  .border-link{
    border: 1px solid var(--icon-color);
   border-radius: 4px;
   height: 100%;
   width: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-client{
    fill: var(--icon-color);
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .border-link:is(:hover ,:focus) .icon-client{
    fill: var(--primary-color);
  }
  .border-link:hover,.border-link:focus{
    border-color: var(--primary-color);
  }
  .pading-client{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  /* adress */
  .adress {
    margin-top: 9px;
    display: inline-block;
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-decoration: none;
  }
  .adress-contact {
    
    display: inline-block;
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--adress-color);
  }
  .footer-adress {
      background-color: var(--footer-color);
      padding-top: 60px;
      padding-bottom: 60px;
     }
  .margin-li{
      margin-top: 9px;
     }
  .margin{
    margin-top: 20px;
  }
  /*portfolio*/
  .portfolio-section {
   padding-top: 94px; 
   padding-bottom: 88px;
   background-color: var(--title-color);
   }
  .portfolio-button{
    display: flex;
    justify-content: center;
  }
  .border{
    border-bottom: 1px solid var(--border-color)
  }
  .button-not:not(:last-child){
    margin-right: 8px;
  }
  .img-top{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    }
  .img-list{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .img-shadow:hover,.img-shadow:focus{
   display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .link-decoration{
    text-decoration: none;
  }
  .link-translate:hover .product-overlay{
    transform: translateY(0);
  }
  .frame-trans{
    position: relative;
    overflow: hidden;
  }
  .frame-trans{
    width: 370px;
   
  }
  .product-overlay{
    width: 100%;
    height: 100%;
    
    background-color:  rgba(33, 150, 243, 0.9);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-overlay{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  margin: 0;
  
  position: absolute;
  display: inline-block;
  }
.img-list:nth-child(3n){
  margin-right: 0;
}
.frame{
   padding-left: 24px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 24px;
}   
  
.button-style {
    padding: 6px 22px;
    display: inline-block;
  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-color: transparent;
    color: var(--secondary-color);
    background-color: var(--becground-button);
    border-radius: 4px;
    text-align: center;
    transition: color,background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-button:focus,
.link-button:hover {
    color: var(--title-color);
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.portfolio-name {
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    text-decoration: none;
}
.portfolio-text {
   display: inline-block;
   margin-bottom: 0px;
   margin-top: 0px;
  
   text-decoration: none;
   color: var(--contacts-color);
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.03em;
}
.img{
  display: block;
}
.text-item{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin: 0;
}
.footer-ko{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   gap: 10px;
    
}
.link-fot{
    width: 20px;
    height: 20px;
}
.footer-list-icon{
    height: 44px;
    width: 44px;
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-icon:hover,.footer-list-icon:focus{
    background-color: var(--primary-color);
}
.footer-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--title-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, 0.1);
}
.flex-svg{
    display: flex;
}
.footer-block{
    display: block;
}
.footer-block-svg{
  margin-left: 70px;
}
.field{
  display: inline-block;
  
}
.text-field{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
  
.button-teleg{
   width: 200px;
   height: 50px;
   background-color: var(--primary-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
}
.margin-footer{
  margin-left: auto;
}
  
.email-decoration{
    display:inline-block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    background-color: var(--footer-color);
    margin-bottom: auto;
    color:  var(--title-color);
}
.email-decoration:focus-visible{
  outline: 1px solid  rgba(255, 255, 255, 0.3) ;
}
.email-decoration::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.button-teleg{
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    text-align: left;
    min-width: 200px;
    padding: 10px 32px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--title-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-teleg:hover,
.button-teleg:focus{
    background-color: var(--butonn-hover);
    cursor:pointer;
    list-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-send{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.icon-send-div{
    display: flex;
    align-items: baseline;
    justify-content: center;
}